.mynavbar {
    min-width: 320px;
  
}

body {
    min-width: 320px;
}

.mynavbar .nav-user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
    border: 2px solid white;
    object-fit: cover;
}

.mynavbar.after-scroll {
    transform: translateY(-57px);
}
.mynavbar.navhover {
    transform: translatey(0px);
}

small.designed {
    font-size: 11px;
}

@media (max-width:425px) {
    
    .mynavbar .mobile-post-add-btn,
    .mynavbar .mobile-home-btn {
        display: none;
    }

    .mynavbar .mobile-secondary-post-add-btn {
        display:block
    }

}