{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block link_block %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />

<link rel="stylesheet" href="{% static 'css/comment_add.css' %}">

{% endblock %}


{% block main_content %}

<section>
    <h3 class="text-center text-3xl font-semibold text-gray-600 my-5 mb-7"><span class="bg-slate-300 px-7 py-1 rounded">Comment</span></h3>
    <div class="flex justify-center">
        <div class="w-full md:w-7/12 xl:w-6/12 my-2">
            <div class="border rounded p-6 my-5 shadow-md bg-white post-div">
                <div class="flex items-center gap-4">
                    <img class="post-owner-image" src="{{post.post_by.profile.image.url}}" alt="">
                    <span class="text-slate-600 capitalize">{% if post.post_by.profile.first_name != None and post.post_by.profile.first_name != 'None'  %}{{post.post_by.profile.first_name}}{% else %}{{post.post_by}}{% endif %} ,</span>
                    <span class="text-slate-500">{{post.created_date|date:"d M Y"}}</span>
                </div>
                <div class="mt-4 px-3">
                    {% if post.title != None %}
                    <h4 class="font-semibold text-lg">{{post.title}}</h4>
                    {% endif %}
                    {% if post.image %}
                    <img class="rounded post-image my-3" src="{{post.image.url}}" alt="">
                    
                    {% endif %}
                    <p class="mt-4">{{post.content}}</p>

                </div>
                <!-- post like and dislike section -->
                <div class="my-5">

                    {% if request.user == post.post_by %}

                        <form action="{% url 'all-like-dislike' post.id %}" class="inline" method="get">
                            
                            <button data-index="{{post.id}}" class="like-btn" name="like-dislike" value="like" type="submit"><span class="text-blue-500 mr-5"><i class="fa-solid fa-thumbs-up"></i> <small>Likes</small> {{post.like_count}}</span></button>
                            <button data-index="{{post.id}}" class="dislike-btn" name="like-dislike" value="dislike" type="submit"><span class="text-blue-900 mr-5"><i class="fa-solid fa-thumbs-down"></i> <small>Dislikes</small> {{post.dislike_count}}</span></button>

                        </form>

                    {%else%}

                        <form class="inline" method="">
                            {% csrf_token %}
                            <button type="button" id="post{{post.id}}" data-post-id="{{post.id}}" class="like-btn" name="like" value="like" ><span class="text-blue-500 mr-5"><i class="fa-solid fa-thumbs-up"></i> <small>Likes</small> <span class="post-like-count">{{post.like_count}}</span></span></button>
                            <button type="button" id="post{{post.id}}" data-post-id="{{post.id}}" class="dislike-btn" name="dislike" value="dislike"><span class="text-blue-900 mr-5"><i class="fa-solid fa-thumbs-down"></i> <small>Dislikes</small> <span class="post-dislike-count">{{post.dislike_count}}</span></span></button>

                        </form>

                    {% endif %}
                    <span class="text-orange-500"><i class="fa-regular fa-comment"></i> <small>Comments</small> ({{post.comment_count}})</span>
                    {% if post.post_by == request.user %}
                    <div class="mt-4 logged-user-btn bg-slate-200 px-2 rounded-sm shadow-md">
                        <a href="{% url 'post-delete' post.id %}" class="mr-5"><span class="text-red-500 "><i class="fa-solid fa-trash"></i> Delete</span></a>
                        <a href="{% url 'post-edit' post.id %}"><span class="text-purple-500"><i class="fa-solid fa-pen"></i> Edit</span></a>

                    </div>
                    {% endif %}
                </div>
                <div>
                    <!-- Comment for post -->
                    

                    {% if post.comment_count > 0 %}
                    <div class="comment-section p-2 rounded bg-slate-50">
                        <!-- display all comments -->

                        {% for comment in all_comments %}
                            
                            {% if comment.post_object.id == post.id and comment.comment_by == request.user %}
                                <div class="relative comment flex items-center gap-5 my-4 border-2 shadow-md p-3 w-10/12 sm:w-8/12 xl:w-7/12 rounded-xl bg-white">

                                    <div class="flex flex-col items-center user-div">
                                        <img class="comment-user-image" src="{{comment.comment_by.profile.image.url}}" alt="">    
                                        <span><small class="text-xs text-gray-500 capitalize">{% if comment.comment_by.profile.first_name != None %}{{comment.comment_by.profile.first_name}} {% else %} {{comment.comment_by}} {% endif %} </small></span>   
                                        <span></span>
                                    </div> 

                                    <div>
                                        {% if comment.comment_image.url != None %}
                                        <img style="width: 200px; " class="comment-image rounded-md" src="{{comment.comment_image.url}}" alt="">
                                        {% endif %}
                                        <p class="my-2">{{comment.comment_text}}</p>

                                    </div>

                                    <!-- comment delete button -->
                                    <button data-comment-id="{{comment.id}}" type="button" class="comment-delete absolute top-1 right-2 cursor-pointer"><i class="fa-solid fa-circle-minus text-red-400 hover:text-red-500 text-sm"></i></button>                                   
                                
                                
                                </div>
                            {% elif comment.post_object.id == post.id and comment.comment_by != request.user  %}

                                <div class="flex justify-end">

                                    <div class="comment flex items-center gap-5 my-4 border-2 shadow-md p-3 w-10/12 sm:w-8/12 xl:w-7/12 rounded-xl bg-slate-100">

                                        <div class="flex flex-col items-center user-div">
                                            <img class="comment-user-image" src="{{comment.comment_by.profile.image.url}}" alt="">    
                                            <span><small class="text-xs text-gray-500 capitalize">{% if comment.comment_by.profile.first_name != None %}{{comment.comment_by.profile.first_name}} {% else %} {{comment.comment_by}} {% endif %} </small></span>   
                                            <span></span>
                                        </div>     
                                        <div>
                                            {% if comment.comment_image.url != None %}
                                            <img style="width: 200px; " class="comment-image rounded-md" src="{{comment.comment_image.url}}" alt="">
                                            {% endif %}
                                            <p class="my-2">{{comment.comment_text}}</p>

                                        </div>
                                    
                                    </div>
                                </div>

                            {% endif %}
                        {% endfor %}

                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-center">
    
        <div class="w-full md:w-7/12 xl:w-6/12 my-10 mb-16 p-3 shadow border-2 rounded bg-white">
            <form class="comment-add-form" data-post-id="{{post.id}}" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{comment_form|crispy}}
                <div class="text-center mt-5">
                    <button type="submit" class="px-4 py-1 bg-indigo-900 hover:bg-indigo-800 text-white text-lg rounded">Add Comment</button>
                </div>
            </form>
        </div>
    </div>
</section>

    <!-- <form action="">

        {{comment_form}}
    </form> -->

{% endblock %}



{% block script_block %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

<script>

    document.querySelector('label[for="id_comment_text"]').innerText = 'Comment';

    document.querySelectorAll('label').forEach((lable)=>{
        lable.classList.add(
            'block', 'mb-2', 'text-sm', 'font-medium', 'text-gray-900',
        )
    })

    document.querySelector('input[type="file"]').classList.add(

    'block', 'w-full', 'text-sm', 'text-gray-900', 'border', 'border-gray-300', 'rounded-lg', 'cursor-pointer', 'bg-gray-50', 'focus:outline-none',

    )

    document.querySelector('input[type="file" i]').classList.add('bg-slate-400')

    document.querySelector('textarea').setAttribute('rows', '2')

    

</script>

<!-- like with ajax -->
<script>

    // ajax like 

    document.querySelectorAll('.like-btn').forEach(function(eachLikeBtn){

        eachLikeBtn.addEventListener('click', function(e){
            e.preventDefault();
            e.stopPropagation();
            //console.log('clicked')
            
    
            $.ajax({
                type: 'POST',
                url: "{% url 'like' %}",
                data: {
                    post_id: this.dataset.postId,
                    csrfmiddlewaretoken: '{{csrf_token}}',
                    action: 'post',
                },
    
                success: function(json){
                    
                    //console.log(json)
                    //console.log(json.like_count)
                    document.querySelector(`#post${json.post_id} .post-like-count`).textContent = json.like_count;
    
                    document.querySelector(`#post${json.post_id} .post-dislike-count`).textContent = json.dislike_count;
                },
    
                error: function(xhr, errmsg, err){
                    console.log(err);
                }
            })
        })
        


    })
    
    

</script>

<!-- dislike with ajax -->
<script>

    document.querySelectorAll('.dislike-btn').forEach(function(eachDislikeBtn){

        eachDislikeBtn.addEventListener('click', function(e){
            //console.log('clicked')
            e.preventDefault();
            e.stopPropagation();
    
            $.ajax({
                type: 'POST',
                url: '{% url "dislike" %}',
                data: {
                    post_id: this.dataset.postId,
                    csrfmiddlewaretoken: '{{csrf_token}}',
                    action: 'post',
                },
    
                success: function(json) {
    
                    //console.log(json)
    
                    document.querySelector(`#post${json.post_id} .post-like-count`).textContent = json.like_count;
    
                    document.querySelector(`#post${json.post_id} .post-dislike-count`).textContent = json.dislike_count;
                },
    
                error: function(xhr, errmsg, err) {
                    console.log(err)
                },
            })
    
        })

    })    

    
</script>

<!-- ajax comment delete -->
<script>

    // ajax comment delete
    
    document.querySelector('.comment-delete').addEventListener('click', function(e){
            comment_id = parseInt(this.dataset.commentId)
            console.log(comment_id)
            e.preventDefault();
            $.ajax({
                type:'POST',
                url: '{% url "comment-delete" %}',
                data: {
                    comment_id: comment_id,
                    csrfmiddlewaretoken: '{{csrf_token}}',
                    action: 'post',
                },
                
    
                success: function(json){
                    location.reload();
                    console.log(json);
                },
                error: function(xhr, errmsg, err){
                    console.log(err);
                }
            });
        })

    
</script>

<!-- comment add ajax -->
<!-- <script>

    let text = document.querySelector('#id_comment_text').value;
    let image = document.querySelector('#id_comment_image')
    console.log(image.files[0])
    console.log(text)
    let csrf_token = '{{csrf_token}}'
    document.querySelector('.comment-add-form').addEventListener('submit', function(e){
        e.preventDefault();
        let formData = new FormData()
        formData.append('text', text)
        formData.append('image', image.files[0])
        formData.append('csrfmiddlewaretoken', csrf_token)
        console.log(formData)

        let post_id = this.dataset.postId;

        $.ajax({
            type: "POST",
            url: "{% url 'comment' %}",
            enctype: 'multipart/form-data',
            
            processData: false,
            contentType: false,
            data: {
                formData: formData,
                post_id: post_id,
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: "post",
            },
            
            success: function(json){
                console.log(json);
            },

            error: function(xhr, errmsg, err){
                console.log(err);
            }


        })
    })
</script> -->

{% endblock %}