{% extends 'base.html' %}

{% load static %}

{% load tz %}

{% block link_block %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block main_content %}
<section>

    <div class="py-3 bg-slate-300 text-center">
        <form method="get" class="search-form  w-8/12  sm:6/12 md:w-6/12 lg:w-4/12 mx-auto">             
                <input class="search-box w-full p-1 rounded" type="text" placeholder="Search people" name="q" autocomplete="off" autofocus>
                <button  type="submit" class="hidden search-btn px-4 py-1 rounded border border-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black">Search</button>   
                <div class="search-result w-full border-2 bg-slate-400 shadow-lg hidden"></div>
        </form>             
    </div>
</section>


<section>
    <div class="grid grid-cols-6 gap-4 mx-3 sm:mx-10 mt-5 mb-10">
        
        <div class="rounded shadow-sm user-section border bg-white " style="height: fit-content;">
            <div class="cover-photo">

            </div>
            <div class="user-detail px-1">
                <div class="text-center">

                    <img class="rounded mt-10 mx-auto mb-3 border-white border-2 user-image" src="{{profile_obj.image.url}}" alt="">
                    
                    {% if profile_obj.first_name != None and profile_obj.first_name != 'None' %}

                    <h4 class="font-semibold">{{ profile_obj.first_name }} {{profile_obj.last_name}}</h4>

                    {% else %}

                    <h4>Hello <i class="font-semibold">User</i>, complete your profile details</h4>

                    {% endif %}
                    
                    
                    <p></p>
                    <div class="flex mt-5 justify-center items-center">
                        <div class="border-r-2 px-4">
                            <a href="{% url 'my-posts' %}"><span class="font-bold">{{post_count.total_post}}</span></a>
                            <div>{% if post_count.total_post > 1 %}Posts{% else %}Post{% endif %}</div>
                        </div>
                        <div class="border-r-2 px-4">
                            <a href="{% url 'followed-users' %}"><span class="font-bold">{% if request.user.following.follower_count > 0 %}{{request.user.following.follower_count}}{% else %}0{% endif %}</span></a>
                            <div>{% if request.user.following.follower_count > 1 %} Followers {% else %} Follower {% endif %}</div>

                        </div>
                        <div class=" px-4">
                            <a href="{% url 'following-users' %}"><span class="font-bold">{% if request.user.following.following_count %}{{request.user.following.following_count}}{% else %}0{% endif %}</span></a>
                            <div>Following</div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="border-t border-gray-300 mt-4">
                <ul>
                    <!-- post add link -->
                    <li class="border-b border-gray-300 text-center p-4 post-link"><a href="{% url 'post-add' %}" class="text-xl"><i class="fa-solid fa-plus"></i> Post</a></li>
                </ul>
                
            </div>
        </div>
        
    
        <div class="post-story-section">
            <div class=" flex gap-5 p-2 px-10 bg-white shadow-md border-2 rounded ">
                <!-- STORY -->
                <div class="left-slide-btn">
                    <i class="fa-solid fa-chevron-left fa-2x"></i>
                </div>
                <div class="card mt-3 rounded flex-none border-dashed border-2 flex justify-center items-center flex-col gap-3">
                    <button
                        type="button"
                        class="rounded-full bg-white px-3 py-3 text-sm font-semibold text-black shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="h-4 w-4"
                        >
                            <line x1="12" y1="5" x2="12" y2="19"></line>
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                    </button>
                    <p>Post a story</p>
                </div>
                <div class="story-div overflow-x-auto flex gap-5 p-3 px-5">
                    
                    <div class="card rounded flex-none border-2">
    
                    </div>
                    <div class="card rounded flex-none border-2">
    
                    </div>
                    <div class="card rounded flex-none border-2">
    
                    </div>
                    <div class="card rounded flex-none border-2">
                    </div>
                    <div class="card rounded flex-none border-2">
                    </div>
                    

                </div>
                <div class="right-slide-btn">
                    <i class="fa-solid fa-chevron-right fa-2x"></i>
                </div>
            </div>

            <!-- POST -->
            {% for post in all_post %}
            <div class="border rounded p-6 my-5 shadow-md bg-white post-div">
                <div class="flex items-center gap-4">
                    <img class="post-owner-image" src="{{post.post_by.profile.image.url}}" alt="">
                    <span class="text-slate-600 capitalize">{% if post.post_by.profile.first_name != None and post.post_by.profile.first_name != 'None' %}{{post.post_by.profile.first_name}} {% else %}{{post.post_by}}{% endif %} ,</span>
                    <span class="text-slate-500">{{post.created_date|date:"d M Y"}}</span>
                </div>
                <div class="mt-4 px-3">
                    {% if post.title != None %}
                    <h4 class="font-semibold text-lg">{{post.title}}</h4>
                    {% endif %}
                    {% if post.image %}
                    <img class="rounded post-image my-3" src="{{post.image.url}}" alt="">
                    
                    {% endif %}
                    <p class="mt-4">{{post.content}}</p>

                </div>
                <!-- post like and dislike section -->
                <div class="my-5">

                    {% if request.user == post.post_by %}

                        <form action="{% url 'all-like-dislike' post.id %}" class="inline" method="get">
                            
                            <button data-index="{{post.id}}" class="like-btn" name="like-dislike" value="like" type="submit"><span class="text-blue-500 mr-5"><i class="fa-solid fa-thumbs-up"></i> <small>Likes</small> {{post.like_count}}</span></button>
                            <button data-index="{{post.id}}" class="dislike-btn" name="like-dislike" value="dislike" type="submit"><span class="text-blue-900 mr-5"><i class="fa-solid fa-thumbs-down"></i> <small>Dislikes</small> {{post.dislike_count}}</span></button>

                        </form>

                    {%else%}

                        <form action="{% url 'post-like-dislike' post.id %}" class="inline" method="post">
                            {% csrf_token %}
                            <button data-index="{{post.id}}" class="like-btn" name="like-dislike" value="like" type="submit"><span class="text-blue-500 mr-5"><i class="fa-solid fa-thumbs-up"></i> <small>Likes</small> {{post.like_count}}</span></button>
                            <button data-index="{{post.id}}" class="dislike-btn" name="like-dislike" value="dislike" type="submit"><span class="text-blue-900 mr-5"><i class="fa-solid fa-thumbs-down"></i> <small>Dislikes</small> {{post.dislike_count}}</span></button>

                        </form>

                    {% endif %}
                    <span class="text-orange-500 comment-count-span"><i class="fa-regular fa-comment"></i> <small>Comments</small> {{post.comment_count}}</span>
                    {% if post.post_by == request.user %}
                    <div class="mt-4 logged-user-btn bg-slate-200 px-2 rounded-sm shadow-md">
                        <a href="{% url 'post-delete' post.id %}" class="mr-5"><span class="text-red-500 "><i class="fa-solid fa-trash"></i> Delete</span></a>
                        <a href="{% url 'post-edit' post.id %}"><span class="text-purple-500"><i class="fa-solid fa-pen"></i> Edit</span></a>

                    </div>
                    {% endif %}
                </div>
                <div>
                    <!-- Comment for post -->
                    <div>
                        <div class="text-end mb-2">
                            <a href="{% url 'comment-add' post.id %}"><button class="bg-indigo-600 hover:bg-indigo-700 px-4 py-1 rounded text-white shadow-sm"><i class="fa-solid fa-plus mr-3px"></i> Comment</button></a>
                        </div>
                        <!-- <img src="" alt="">
                        <form action="{% url 'comment-add' post.id %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            {{comment_form}}
                            <div class="flex">
                                <textarea name="comment_text" type="text" name="" id="" class="w-11/12 border-2 px-2 rounded"></textarea>
                                <button type="submit" class="border p-3 px-4 ml-4 rounded bg-blue-500 text-zinc-100 text-sm"><i class="fa-solid fa-paper-plane"></i></button>
                            </div>-->
                            <!-- drop down to select image, gif -->
                            <!-- <div class="my-4">
                                <span class="me-5 border-2 px-3 py-1 text-cyan-600">
                                    <i class="fa-regular fa-image"></i> Photo
                                    <input name="comment_image" type="file" accept="image/*">
                                </span>
                                <span class="px-3 py-1 border-2 text-fuchsia-900"><i class="fa-solid fa-video"></i> Video</span>
                            </div>
                        </form>  -->
                    </div>

                    {% if post.comment_count > 0 %}
                    <div class="comment-section p-2 rounded bg-slate-50">
                        <!-- display all comments -->

                        {% for comment in all_comments %}
                            
                            {% if comment.post_object.id == post.id and comment.comment_by == request.user %}
                                <div class="comment flex items-center gap-6 my-4 border-2 shadow-md p-3 w-10/12 sm:w-8/12 xl:w-7/12 rounded-xl bg-white">
                                    <div class="flex flex-col items-center user-div">
                                        <img class="comment-user-image" src="{{comment.comment_by.profile.image.url}}" alt="">    
                                        <span><small class="text-xs text-gray-500 capitalize">{% if comment.comment_by.profile.first_name != None %}{{comment.comment_by.profile.first_name}} {% else %} {{comment.comment_by}} {% endif %} </small></span>   
                                        <span></span>
                                    </div>
                                    <div>
                                        {% if comment.comment_image.url != None %}
                                        <img style="width: 200px;" class="comment-image rounded-md" src="{{comment.comment_image.url}}" alt="">
                                        {% endif %}
                                        <p class="my-2">{{comment.comment_text}}</p>

                                    </div>
                                
                                </div>
                            {% elif comment.post_object.id == post.id and comment.comment_by != request.user  %}

                                <div class="flex justify-end">

                                    <div class="comment flex items-center gap-6 my-4 border-2 shadow-md p-3 w-10/12 sm:w-8/12 xl:w-7/12 rounded-xl bg-slate-100">
                                        <div class="flex flex-col items-center user-div">
                                            <img class="comment-user-image" src="{{comment.comment_by.profile.image.url}}" alt=""> 
                                            <span><small class="text-xs text-gray-500 capitalize">{% if comment.comment_by.profile.first_name != None %}{{comment.comment_by.profile.first_name}} {% else %} {{comment.comment_by}} {% endif %} </small></span>   
                                            <span></span>
                                        </div>
                                        <div>
                                            {% if comment.comment_image.url != None %}
                                            <img style="width: 200px; " class="comment-image rounded-md" src="{{comment.comment_image.url}}" alt="">
                                            {% endif %}
                                            <p class="my-2">{{comment.comment_text}}</p>

                                        </div>
                                    
                                    </div>
                                </div>

                            {% endif %}
                        {% endfor %}

                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- People you may know -->
        {% if user_profiles|length > 0 %} 
        <div class="rounded shadow-sm border bg-white people-section">
            <div class="rounded p-3">
                <h2 class="text-lg font-semibold text-center ">People you may know</h2>
                
                <div style="height: 150px; overflow: hidden;">
                    {% for user in user_profiles %}
                    {% if user.user_object.username != 'admin' and user.user_object != request.user %}
                        
                            {% csrf_token %}
                            <div class="my-3 grid grid-cols-3 gap-4 justify-items-center items-center border-2 border-slate-100 rounded-md">
                                
                                <img class="all-user-profile-img border-2" src="{{user.image.url}}" alt="">
                                
                                {% if user.first_name != None %}
                                    <span class="capitalize ">{{user.first_name}}</span>
                                {% else %}
                                    <span class="capitalize">{{user.user_object.username}}</span>
                                {% endif %}
                                <a href="{% url 'other-user-detail' user.id %}">
                                    <button
                                    type="button"
                                    class="follow-btn rounded-full bg-blue-500 px-3 py-3 text-sm font-semibold text-white shadow-sm hover:bg-blue-600"
                                    >
                                    <i class="fa-solid fa-angles-right"></i>
                                    </button>
                                </a>

                            </div>
                        
                    {% endif %}
                {% endfor %}
                </div>
                
                <div class="px-2 bg-slate-500">
                    <a href=""><button class="view-more-btn  border rounded bg-indigo-500 hover:bg-indigo-600 text-white py-1">View more</button></a>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- Other userfull links -->

        <div class="rounded shadow-sm border bg-white other-usefull-links mb-4">
            <h3 class="text-xl font-semibold text-center border-b-2 p-2 bg-slate-300">Useful links</h3>
            <div class="w-full inner-div">
                <ul class="list-none no-underline">
                    <li class="p-3 border-b-2 ">
                        <a href="https://www.youtube.com/" target="_blank" class="flex justify-center">
                            <img src="{% static 'media/other/youtube2.png' %}" alt="">
                        </a>
                    </li>
                    <li class="p-3 border-b-2">
                        <a href="https://www.wikipedia.org/" target="_blank" class="flex justify-center">
                            <img src="{% static 'media/other/wikipedia-wordmark-en.svg' %}" alt="">
                        </a>
                    </li>
                    <li class="p-3 border-b-2">
                        <a href="https://www.google.com/" target="_blank" class="flex justify-center">
                            <img src="{% static 'media/other/googlelogo.png' %}" alt="">
                        </a>
                    </li>
                    <li class="p-3 border-b-2">
                        <a href="https://stackoverflow.com/" target="_blank" class="flex justify-center">
                            <img src="{% static 'media/other/stack-overflow2.jpg' %}" alt=""> 
                        </a>
                    </li>
                    <li class="p-3 border-b-2">
                        <a href="https://chat.openai.com/auth/login" target="_blank" class="flex justify-center">
                            <img src="{% static 'media/other/chat gpt.png' %}" alt=""> 
                        </a>
                    </li>
                    <li class="p-3 border-b-2">
                        <a href="https://www.amazon.in/" target="_blank" class="flex justify-center">
                            <img src="{% static 'media/other/amazon1.png' %}" alt=""> 
                        </a>
                    </li>
                    <li class="p-3 ">
                        <a href="https://www.flipkart.com/" target="_blank" class="flex justify-center">
                            <img src="{% static 'media/other/Flipkart-logo1.png' %}" alt=""> 
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
</section>

{% endblock %}


{% block script_block %}

<script src="{% static 'js/home.js' %}"></script>

<script>

    document.querySelector('.search-btn').addEventListener('click', function(e){
        console.log('clicked')
        e.preventDefault()
        console.log(document.querySelector('.search-box').value)

        $.ajax({
            type: 'get',
            url: "{% url 'search-people' %}",
            data: {
                search_text: document.querySelector('.search-box').value,
                action: 'get',
            },

            success: function(json) {
                //console.log(json)
                //console.log(typeof json.data)
                //console.log(JSON.parse(json.data))

                let container = document.querySelector('.search-result')
                container.classList.remove('hidden')
                let elem = ''
                for ( let eachData of JSON.parse(json.data) ){
                    console.log(eachData)
                    elem = `
                        <a href="connect_space/user/${eachData.pk}/">
                            <li class="list-none border-b-2"><span>${eachData.fields.first_name} ${eachData.fields.last_name}</span></li> 
                        </a>
                    `
                    
                    container.innerHTML += elem    
                }
                
            },

            error: function(xhr, errmsg, err) {

            }
        })
    })

    document.querySelector('.search-box').addEventListener('keyup', function(e){
        if(this.value == '') {
    
            document.querySelector('.search-result').innerHTML = '';
            document.querySelector('.search-result').classList.add('hidden')

        }
    })
   
</script>



{% endblock %}