{% extends 'base.html' %}

{% load static %}

{% load tz %}

{% block link_block %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />

<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block main_content %}
<section>

    <div class="py-3 bg-slate-300 text-center">
        <form method="get" class="search-form  w-8/12  sm:6/12 md:w-6/12 lg:w-4/12 mx-auto">             
                <input class="search-box w-full p-1 rounded" type="text" placeholder="Search people" name="q" autocomplete="off" autofocus>
                <button  type="submit" class="hidden search-btn px-4 py-1 rounded border border-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black">Search</button>   
                <div class="search-result w-full border-x-2 border-slate-400 bg-slate-100 shadow-lg hidden rounded-sm"></div>
        </form>             
    </div>
</section>


<section>
    <div class="grid grid-cols-6 gap-4 mx-3 sm:mx-10 mt-5 mb-10">
        
        <div class="rounded shadow-sm user-section border bg-white " style="height: fit-content;">
            <div class="cover-photo">

            </div>
            <div class="user-detail px-1">
                <div class="text-center">

                    <img class="rounded mt-10 mx-auto mb-3 border-white border-2 user-image" src="{{profile_obj.image.url}}" alt="">
                    
                    {% if profile_obj.first_name != None and profile_obj.first_name != 'None' %}

                    <h4 class="font-semibold">{{ profile_obj.first_name }} {{profile_obj.last_name}}</h4>

                    {% else %}

                    <h4>Hello <i class="font-semibold">User</i>, complete your profile details</h4>

                    {% endif %}
                    
                    
                    <p></p>
                    <div class="flex mt-5 justify-center items-center">
                        <div class="border-r-2 px-4">
                            <a href="{% url 'my-posts' %}"><span class="font-bold">{{post_count.total_post}}</span></a>
                            <div>{% if post_count.total_post > 1 %}Posts{% else %}Post{% endif %}</div>
                        </div>
                        <div class="border-r-2 px-4">
                            <a href="{% url 'followed-users' %}"><span class="font-bold">{% if request.user.following.follower_count > 0 %}{{request.user.following.follower_count}}{% else %}0{% endif %}</span></a>
                            <div>{% if request.user.following.follower_count > 1 %} Followers {% else %} Follower {% endif %}</div>

                        </div>
                        <div class=" px-4">
                            <a href="{% url 'following-users' %}"><span class="font-bold">{% if request.user.following.following_count %}{{request.user.following.following_count}}{% else %}0{% endif %}</span></a>
                            <div>Following</div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="border-t border-gray-300 mt-4">
                <ul>
                    <!-- post add link -->
                    <li class="border-b border-gray-300 text-center p-4 post-link"><a href="{% url 'post-add' %}" class="text-xl"><i class="fa-solid fa-plus"></i> Post</a></li>
                </ul>
                
            </div>
        </div>

        <!-- story section start -->
        <div class="story-section bg-white shadow-sm border-px rounded-sm ">
            <h3 class="text-center text-xl bg-slate-200 font-semibold">Stories</h3>
            <ul class="">
                <!-- STORY -->
                {% if all_user_story %}
                <li class="card user-story-card border-b-2 p-3 text-lg">
                    <div class="grid grid-cols-4 justify-center items-center gap-3">
                        <img class="user-profile-image col-start-2" src="{{request.user.profile.image.url}}" alt="">
                        <span class="col-start-3">Your stories</span> 
                    </div>
                </li>
                {% else %}
                <li class="p-3 border-b-2 text-center text-lg">
                    <a href="{% url 'story-add' %}">
                        <i class="fa-solid fa-plus"></i> Story
                    </a>
                </li>       
                {% endif %}
                
                {% for user in user_profiles %}
                    {% if user.user_object in story_objects.keys %}
                    
                        <li data-user-id="{{user.user_object.id}}" class="card story-card border-b-2 p-3 text-lg">
                            <div class="grid grid-cols-4 justify-center items-center gap-3">
                                <img class="profile-image col-start-2" src="{{user.image.url}}" alt="">
                                <span class="col-start-3 capitalize">
                                    {% if user.first_name != None and 'None' %}
                                    {{user.first_name}}
                                    {% else %}
                                    {{user.user_object.username}}
                                    {% endif %}
                                </span> 
                            </div>
                        </li>

                    {% endif %}

                {% endfor%}
                

            </ul>

            <!-- story active session -->

            <!-- logged user stories -->
            {% if all_user_story %}
            <div class="user-story-active-div p-4 hidden">
                
                <div class="story-div w-full sm:w-8/12 md:w-7/12 xl:w-6/12 mx-auto p-3 bg-gray-600 shadow">
                    <i class="fa-solid fa-circle-xmark fa-2x text-slate-400 hover:text-slate-300"></i>
                    <div class="user-detail flex items-center px-2">
                        <div class="flex items-center gap-2">
                            <img class="" src="{{request.user.profile.image.url}}" alt="">
                            <span class="text-md font-semibold text-gray-300 px-2 capitalize">
                                {% if request.user.profile.first_name != None and request.user.profile.first_name != 'None' %}
                                {{request.user.profile.first_name}} {{request.user.profile.last_name}}
                                {% else %}
                                {{request.user}}
                                {% endif %}
                            </span>

                        </div>          
                    </div>
                    <div id="default-carousel" class="relative w-full" data-carousel="slide">
                            <!-- Carousel wrapper -->
                            <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                                <!-- Item 1 -->
                                
                                {% for story in all_user_story %}

                                <div class="hidden duration-900 ease-in-out" data-carousel-item> 
                                    <span class="px-2 bg-stone-200 border-2 rounded-full useful-btn text-center">
                                        <a href="{% url 'story-edit' story.id %}" class="z-50"><button><i class="fa-solid fa-pen text-blue-600"></i> Edit</button></a>
                                    </span>
                                    <span class="text-md font-semibold text-slate-700 z-10 absolute top-0 left-2 italic bg-gray-200 px-3">{{story.created_date|date:"d M Y"}}</span>
                                    {% if story.image %}
                                    <img src="{{ story.image.url }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                                    {% endif %}
                                    <p class="absolute bottom-0 left-0 italic px-1"><span class="text-lg p-1 px-4 bg-slate-100">{{story.text}}</span></p>
                                    
                                </div>
                                {% endfor %}
                            </div>
                            <!-- Slider indicators -->
                            <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
                                {% for story in all_user_story %}
                                <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide {{forloop.counter}}" data-carousel-slide-to="{{forloop.counter}}"></button>
                                {% endfor %}
                            </div>
                            <!-- Slider controls -->
                            <button type="button" class="absolute top-10 bottom-10 start-0 z-30 flex items-center justify-center h-50 px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                                <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                    <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                                    </svg>
                                    <span class="sr-only">Previous</span>
                                </span>
                            </button>
                            <button type="button" class="absolute top-10 bottom-10 end-0 z-30 flex items-center justify-center h-50 px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                                <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                    <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                                    </svg>
                                    <span class="sr-only">Next</span>
                                </span>
                            </button>
                    </div>
                </div>

                <div class="story-div w-full sm:w-8/12 md:w-7/12 xl:w-6/12 mx-auto p-3 bg-gray-600 shadow hidden">
                    <i class="fa-solid fa-circle-xmark fa-2x text-slate-400 hover:text-slate-300"></i>
                    <i class="fa-solid fa-chevron-left fa-2x text-slate-400 hover:text-slate-300"></i>
                    <i class="fa-solid fa-chevron-right fa-2x text-slate-400 hover:text-slate-300"></i>
                    <div class="user-detail flex items-center px-2">
                        <div class="flex items-center gap-2">
                            <img class="" src="{{request.user.profile.image.url}}" alt="">
                            <span class="text-md font-semibold text-gray-300 px-2">{{request.user.profile.first_name}} {{request.user.profile.last_name}}</span>

                        </div>          
                    </div>
                    
                    {% if all_user_story %}
                    <div class="story-detail-outter flex overflow-x-auto flex gap-5 p-3 px-5 snap-x ">
                        {% for story in all_user_story %}
                            <div class="story-details px-4 flex-none snap-center ">
                                <span class="text-md font-semibold text-slate-300">{{story.created_date|date:"d M Y"}}</span>
                                {% if story.image %}
                                <img class="rounded-md mx-auto" src="{{story.image.url}}" alt="">
                                {% endif %}
                                <p class="text-center  mt-2"><span class="text-lg p-1 px-4 bg-slate-100 ">{{story.text}}</span></p>
                                <span class="px-4 bg-stone-200 border-2 rounded-md useful-btn">
                                    <a href="{% url 'story-delete' story.id %}"><i class="fa-solid fa-trash text-red-600 me-4"></i></a>
                                    <a href=""><i class="fa-solid fa-pen text-blue-600"></i></a>
                                </span>
                                
                            </div>
                            
                        {% endfor %}
                        
                    </div>
    
                    {% endif %}

                </div>
            </div>
            {% endif %}
            <!-- logged user stories end-->
            <!-- other user stories -->
            {% for user in user_profiles %}
                {% if user.user_object in story_objects.keys %}
                <div id="user{{user.user_object.id}}" class="story-active-div p-4 hidden">
                    
                    <div class="story-div w-full sm:w-8/12 md:w-7/12 xl:w-6/12 mx-auto p-3 bg-gray-600 shadow">
                        <i class="fa-solid fa-circle-xmark fa-2x text-slate-400 hover:text-slate-300"></i>
                        <div class="user-detail flex items-center px-2">
                            <div class="flex items-center gap-2">
                                <img class="" src="{{user.image.url}}" alt="">
                                <span class="text-md font-semibold text-gray-300 px-2 capitalize">
                                    {% if user.profile.first_name != None and user.profile.first_name != 'None' %}
                                    {{user.profile.first_name}} {{user.profile.last_name}}
                                    {% else %}
                                    {{user.user_object.username}}
                                    {% endif %}
                                </span>

                            </div>          
                        </div>
                        <div id="default-carousel" class="relative w-full" data-carousel="slide">
                                <!-- Carousel wrapper -->
                                <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                                    <!-- Item 1 -->
                                    {% for story in user.user_object.story.all %}

                                    <div class="hidden duration-900 ease-in-out" data-carousel-item> 
                                        <span class="text-md font-semibold text-slate-700 z-10 absolute top-0 left-2 italic bg-gray-200 px-3">{{story.created_date|date:"d M Y"}}</span>
                                        {% if story.image %}
                                        <img src="{{ story.image.url }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                                        {% endif %}
                                        <p class="absolute bottom-0 left-0 italic px-1"><span class="text-lg p-1 px-4 bg-slate-100 ">{{story.text}}</span></p>
                                        
                                    </div>
                                    {% endfor %}
                                </div>
                                <!-- Slider indicators -->
                                <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
                                    {% for story in user.user_object.story.all %}
                                    <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide {{forloop.counter}}" data-carousel-slide-to="{{forloop.counter}}"></button>
                                    {% endfor %}
                                </div>
                                <!-- Slider controls -->
                                <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                                    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                                        </svg>
                                        <span class="sr-only">Previous</span>
                                    </span>
                                </button>
                                <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                                    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                                        </svg>
                                        <span class="sr-only">Next</span>
                                    </span>
                                </button>
                        </div>
                    </div>

                    
                </div>
                {% endif %}
            {% endfor %}
            <!-- other user stories end -->
            <!-- story active session end -->
        </div>

        
        <div class="post-story-section">
            <!-- POST -->
            {% for post in all_post %}
            <div class="border rounded p-6 my-5 shadow-md bg-white post-div">
                <div class="flex items-center gap-4">
                    <img class="post-owner-image" src="{{post.post_by.profile.image.url}}" alt="">
                    <span class="text-slate-600 capitalize">{% if post.post_by.profile.first_name != None and post.post_by.profile.first_name != 'None' %}{{post.post_by.profile.first_name}} {% else %}{{post.post_by}}{% endif %} ,</span>
                    <span class="text-slate-500">{{post.created_date|date:"d M Y"}}</span>
                </div>
                <div class="mt-4 px-3">
                    {% if post.title != None %}
                    <h4 class="font-semibold text-lg">{{post.title}}</h4>
                    {% endif %}
                    {% if post.image %}
                    <img class="rounded post-image my-3" src="{{post.image.url}}" alt="">
                    
                    {% endif %}
                    <p class="mt-4">{{post.content}}</p>

                </div>
                <!-- post like and dislike section -->
                <div class="my-5">

                    {% if request.user == post.post_by %}

                        <form action="{% url 'all-like-dislike' post.id  %}" class="inline" method="get">
                            
                            <button data-index="{{post.id}}" class="user-like-btn" name="like-dislike" value="like" type="submit"><span class="text-blue-500 mr-5"><i class="fa-solid fa-thumbs-up"></i> <small>Likes</small> {{post.like_count}}</span></button>
                            <button data-index="{{post.id}}" class="user-dislike-btn" name="like-dislike" value="dislike" type="submit"><span class="text-blue-900 mr-5"><i class="fa-solid fa-thumbs-down"></i> <small>Dislikes</small> {{post.dislike_count}}</span></button>

                        </form>

                    {%else%}

                        <form class="inline" method="">
                            {% csrf_token %}
                            <button type="button" id="post{{post.id}}" data-post-id="{{post.id}}" class="like-btn" name="like" value="like" ><span class="text-blue-500 mr-5"><i class="fa-solid fa-thumbs-up"></i> <small>Likes</small> <span class="post-like-count">{{post.like_count}}</span></span></button>
                            <button type="button" id="post{{post.id}}" data-post-id="{{post.id}}" class="dislike-btn" name="dislike" value="dislike"><span class="text-blue-900 mr-5"><i class="fa-solid fa-thumbs-down"></i> <small>Dislikes</small> <span class="post-dislike-count">{{post.dislike_count}}</span></span></button>

                        </form>

                    {% endif %}
                    <span class="text-orange-500 comment-count-span"><i class="fa-regular fa-comment"></i> <small>Comments</small> {{post.comment_count}}</span>
                    {% if post.post_by == request.user %}
                    <div class="mt-4 logged-user-btn bg-slate-200 px-2 rounded-sm shadow-md">
                        <a href="{% url 'post-delete' post.id %}" class="mr-5"><span class="text-red-500 "><i class="fa-solid fa-trash"></i> Delete</span></a>
                        <a href="{% url 'post-edit' post.id %}"><span class="text-purple-500"><i class="fa-solid fa-pen"></i> Edit</span></a>

                    </div>
                    {% endif %}
                </div>
                <div>
                    <!-- Comment for post -->
                    <div>
                        <div class="text-end mb-2">
                            <a href="{% url 'comment-add' post.id %}"><button class="bg-indigo-600 hover:bg-indigo-700 px-4 py-1 rounded text-white shadow-sm"><i class="fa-solid fa-plus mr-3px"></i> Comment</button></a>
                        </div>

                        <!-- ajax form implementation -->
                        <!-- <form action="" class="commentform" data-post-id="{{post.id}}" id="commentform{{post.id}}"  method="post" enctype="multipart/form-data">
                            {% csrf_token %}
   
                            <div class="flex">
                                <textarea name="comment_text" type="text" class="w-11/12 border-2 px-2 rounded"></textarea>
                                <i class="fa-solid fa-paperclip"></i>
                                <button type="submit" class="comment-submit border p-3 px-4 ml-4 rounded bg-blue-500 text-zinc-100 text-sm"><i class="fa-solid fa-paper-plane"></i></button>
                            </div>
                            <div class="my-4">
                                <span class="me-5 border-2 px-3 py-1 text-cyan-600">
                                    <i class="fa-regular fa-image"></i> Photo
                                    <input class="comment_image" name="comment_image" type="file" accept="image/*">
                                </span>
                                
                            </div>
                        </form>  -->

                    </div>

                    {% if post.comment_count > 0 %}
                    <div class="comment-section p-2 rounded bg-slate-50">
                        <!-- display all comments -->

                        {% for comment in all_comments %}
                            
                            {% if comment.post_object.id == post.id and comment.comment_by == request.user %}
                                <div class="comment flex items-center gap-6 my-4 border-2 shadow-md p-3 w-10/12 sm:w-8/12 xl:w-7/12 rounded-xl bg-white">
                                    <div class="flex flex-col items-center user-div">
                                        <img class="comment-user-image" src="{{comment.comment_by.profile.image.url}}" alt="">    
                                        <span><small class="text-xs text-gray-500 capitalize">{% if comment.comment_by.profile.first_name != None %}{{comment.comment_by.profile.first_name}} {% else %} {{comment.comment_by}} {% endif %} </small></span>   
                                        <span></span>
                                    </div>
                                    <div>
                                        {% if comment.comment_image.url != None %}
                                        <img style="width: 200px;" class="comment-image rounded-md" src="{{comment.comment_image.url}}" alt="">
                                        {% endif %}
                                        <p class="my-2">{{comment.comment_text}}</p>

                                    </div>
                                
                                </div>
                            {% elif comment.post_object.id == post.id and comment.comment_by != request.user  %}

                                <div class="flex justify-end">

                                    <div class="comment flex items-center gap-6 my-4 border-2 shadow-md p-3 w-10/12 sm:w-8/12 xl:w-7/12 rounded-xl bg-slate-100">
                                        <div class="flex flex-col items-center user-div">
                                            <img class="comment-user-image" src="{{comment.comment_by.profile.image.url}}" alt=""> 
                                            <span><small class="text-xs text-gray-500 capitalize">{% if comment.comment_by.profile.first_name != None %}{{comment.comment_by.profile.first_name}} {% else %} {{comment.comment_by}} {% endif %} </small></span>   
                                            <span></span>
                                        </div>
                                        <div>
                                            {% if comment.comment_image.url != None %}
                                            <img style="width: 200px; " class="comment-image rounded-md" src="{{comment.comment_image.url}}" alt="">
                                            {% endif %}
                                            <p class="my-2">{{comment.comment_text}}</p>

                                        </div>
                                    
                                    </div>
                                </div>

                            {% endif %}
                        {% endfor %}

                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- People you may know -->
        {% if user_profiles|length > 0 %} 
        <div class="rounded shadow-sm border bg-white people-section">
            <div class="rounded p-3">
                <h2 class="text-lg font-semibold text-center ">People you may know</h2>
                
                <div id="all-people" class="all-people">
                    {% for user in user_profiles %}
                    {% if user.user_object.username != 'admin' and user.user_object != request.user and user.user_object not in user_following %}
                        
                            
                            <div class="my-3 grid grid-cols-3 gap-4 justify-items-center items-center border-2 border-slate-100 rounded-md">
                                
                                <img class="all-user-profile-img border-2" src="{{user.image.url}}" alt="">
                                
                                {% if user.first_name != None %}
                                    <span class="capitalize ">{{user.first_name}}</span>
                                {% else %}
                                    <span class="capitalize">{{user.user_object.username}}</span>
                                {% endif %}
                                <a href="{% url 'other-user-detail' user.id %}">
                                    <button
                                    type="button"
                                    class="follow-btn rounded-full bg-blue-500 px-3 py-3 text-sm font-semibold text-white shadow-sm hover:bg-blue-600"
                                    >
                                    <i class="fa-solid fa-angles-right"></i>
                                    </button>
                                </a>

                            </div>
                        
                    {% endif %}
                {% endfor %}
                </div>
               
                <div class="px-2 mt-2 text-center">
                    <a class="mx-auto w-full"><button class="view-more-btn  border rounded bg-indigo-500 hover:bg-indigo-600 text-white px-4 py-1 mx-auto w-full">View more</button></a>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- Other userfull links -->

        <div class="rounded shadow-sm border bg-white other-usefull-links mb-4">
            <h3 class="text-xl font-semibold text-center border-b-2 p-2 bg-slate-300">Useful links</h3>
            <div class="w-full inner-div">
                <ul class="list-none no-underline">
                    <li class="p-3 border-b-2 ">
                        <a href="https://www.youtube.com/" target="_blank" class="flex justify-center">
                            <img src="{% static 'media/other/youtube2.png' %}" alt="">
                        </a>
                    </li>
                    <li class="p-3 border-b-2">
                        <a href="https://www.wikipedia.org/" target="_blank" class="flex justify-center">
                            <img src="{% static 'media/other/wikipedia-wordmark-en.svg' %}" alt="">
                        </a>
                    </li>
                    <li class="p-3 border-b-2">
                        <a href="https://www.google.com/" target="_blank" class="flex justify-center">
                            <img src="{% static 'media/other/googlelogo.png' %}" alt="">
                        </a>
                    </li>
                    <li class="p-3 border-b-2">
                        <a href="https://stackoverflow.com/" target="_blank" class="flex justify-center">
                            <img src="{% static 'media/other/stack-overflow2.jpg' %}" alt=""> 
                        </a>
                    </li>
                    <li class="p-3 border-b-2">
                        <a href="https://chat.openai.com/auth/login" target="_blank" class="flex justify-center">
                            <img src="{% static 'media/other/chat gpt.png' %}" alt=""> 
                        </a>
                    </li>
                    <li class="p-3 border-b-2">
                        <a href="https://www.amazon.in/" target="_blank" class="flex justify-center">
                            <img src="{% static 'media/other/amazon1.png' %}" alt=""> 
                        </a>
                    </li>
                    <li class="p-3 ">
                        <a href="https://www.flipkart.com/" target="_blank" class="flex justify-center">
                            <img src="{% static 'media/other/Flipkart-logo1.png' %}" alt=""> 
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    
</section>

{% endblock %}


{% block script_block %}



<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

<script src="{% static 'js/home.js' %}"></script>

<script>  
    document.querySelector('.search-btn').addEventListener('click', function(e){
        //console.log('clicked')
        e.stopPropagation();
        e.preventDefault();
        console.log(document.querySelector('.search-box').value)
        if(document.querySelector('.search-box').value) {
            $.ajax({
                type: 'get',
                url: "{% url 'search-people' %}",
                data: {
                    search_text: document.querySelector('.search-box').value,
                    action: 'get',
                },

                success: function(json) {
                    //console.log(json)
                    //console.log(typeof json.data)
                    //console.log(JSON.parse(json.data))

                    let container = document.querySelector('.search-result')
                    container.classList.remove('hidden')
                    container.querySelectorAll('a').forEach((eachElem)=>{
                        eachElem.remove()
                    })
                    let elem = ''
                    for ( let eachData of JSON.parse(json.data) ){
                        //console.log(eachData)
                        elem = `
                            <a href="connect_space/user/${eachData.pk}/">
                                <li class="list-none border-b-2 border-slate-400 py-1"><span>${eachData.fields.first_name} ${eachData.fields.last_name}</span></li> 
                            </a>
                        `
                        
                        container.innerHTML += elem    
                    }
                    
                },

                error: function(xhr, errmsg, err) {

                }
            })
        }

    })

    document.querySelector('.search-box').addEventListener('keyup', function(e){

        e.stopPropagation();
        if(this.value == '') {
    
            document.querySelector('.search-result').innerHTML = '';
            document.querySelector('.search-result').classList.add('hidden')

        }
    })

    window.addEventListener('click', function(e){
        e.stopPropagation();
        document.querySelector('.search-result').innerHTML = '';
        if(document.querySelector('.search-result').classList.contains('hidden') == false )
        {
            document.querySelector('.search-result').classList.add('hidden')
        }
        
    })
   
</script>

<script>

    // ajax like 

    document.querySelectorAll('.like-btn').forEach(function(eachLikeBtn){

        eachLikeBtn.addEventListener('click', function(e){
            e.preventDefault();
            e.stopPropagation();
            //console.log('clicked')
            
    
            $.ajax({
                type: 'POST',
                url: "{% url 'like' %}",
                data: {
                    post_id: this.dataset.postId,
                    csrfmiddlewaretoken: '{{csrf_token}}',
                    action: 'post',
                },
    
                success: function(json){
                    
                    //console.log(json)
                    //console.log(json.like_count)
                    document.querySelector(`#post${json.post_id} .post-like-count`).textContent = json.like_count;
    
                    document.querySelector(`#post${json.post_id} .post-dislike-count`).textContent = json.dislike_count;
                },
    
                error: function(xhr, errmsg, err){
                    console.log(err);
                }
            })
        })
        


    })
    
    

</script>

<script>

    document.querySelectorAll('.dislike-btn').forEach(function(eachDislikeBtn){

        eachDislikeBtn.addEventListener('click', function(e){
            //console.log('clicked')
            e.preventDefault();
            e.stopPropagation();
    
            $.ajax({
                type: 'POST',
                url: '{% url "dislike" %}',
                data: {
                    post_id: this.dataset.postId,
                    csrfmiddlewaretoken: '{{csrf_token}}',
                    action: 'post',
                },
    
                success: function(json) {
    
                    //console.log(json)
    
                    document.querySelector(`#post${json.post_id} .post-like-count`).textContent = json.like_count;
    
                    document.querySelector(`#post${json.post_id} .post-dislike-count`).textContent = json.dislike_count;
                },
    
                error: function(xhr, errmsg, err) {
                    console.log(err)
                },
            })
    
        })

    })    

    
</script>


<script>

// ajax comment

</script>

{% endblock %}