{% extends "base.html" %}


{% block main_content %}



<section>
    <div class="flex justify-center">
        <div class="w-10/12 sm:w-7/12 xl:w-5/12 border-2 shadow-md my-5 py-5 px-7 bg-white mx-auto">
            <a href="{% url 'home' %}" class="border-slate-300 border rounded-md px-2 ">
                <i class="fa-solid fa-arrow-left"></i> Home
            </a>
            <div class="my-5">
                <img class="rounded-full mx-auto border-2 border-slate-300" src="{{data.image.url}}" alt="" style="width: 200px; height: 200px; object-fit:cover;">
            </div>
            
            {% if data.first_name != None %}
            <p class="capitalize my-5 text-2xl text-center">{{data.first_name}} {{data.last_name}}</p>
            {% else %}
            <p class="capitalize my-5 text-2xl  text-center">{{data.user_object.username}}</p>
            {% endif %}
            {% if data.bio != None %}
            <p class="my-5 text-lg  text-center">{{data.bio}}</p>
            {% endif %}
            <div class="my-5  text-center">
                <span class="mr-10 sm:text-xl">Followers (<b>{{data.user_object.following.follower_count}}</b>)</span>
                <span class="sm:text-xl">Following (<b>{{data.user_object.following.following_count}}</b>)</span>
            </div>
            <div class="text-center flex gap-5 justify-center mt-2">

                {% if is_following %}
                    
                    <form action="" method="post">
                        {% csrf_token %}
                        <button type="submit" class="unfollow-btn rounded-md bg-green-600 px-4 py-2 text-sm font-semibold text-white hover:bg-green-700">
                            <i class="fa-solid fa-check"></i> Following
                        </button>
                    </form>
                
                {% else %}
                <form action="" method="post">
                    {% csrf_token %}
                    <button type="submit" class="follow-btn rounded-md bg-indigo-600 px-4 py-2 text-sm font-semibold text-white hover:bg-indigo-700">
                        <i class="fa-solid fa-plus mr-1"></i> Follow
                    </button>
                </form>
                {% endif %}
                <!-- <a href="{% url 'all-user' %}">

                    <button
                    type="button"
                    class="inline-flex items-center rounded-md bg-gray-500 px-3 py-2 text-sm font-semibold text-white hover:bg-gray-600"
                    >
                        More users
                    </button>
                </a> -->

                

            </div>

        </div>
    </div>

    
</section>


{% endblock main_content %}


{% block script_block %}

<script>
    // un-follow user
    document.querySelector('.unfollow-btn').addEventListener('click', function(e){
        console.log('clicked')
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "unfollow" %}',

            data: {
                user_id: '{{data.id}}',
                csrfmiddlewaretoken: '{{csrf_token}}',
                action: 'post',
            },

            success: function(json){
                location.reload();
                console.log(json)
            },
            error: function(xhr, errmsg, err){
                console.log(err)
            },
        });
    })

</script>

<script>

    // follow-user

    document.querySelector('.follow-btn').addEventListener('click', function(e){
        e.preventDefault();
        $.ajax({

            type: 'POST',
            url: '{% url "follow" %}',
            data: {
                user_id: '{{data.id}}',
                csrfmiddlewaretoken: '{{csrf_token}}',
                action: 'post',
            },

            success: function(json){
                location.reload();
                console.log(json)
            },

            error: function(xhr, errmsg, err){
                console.log(errmsg);
            },

        })

    })


</script>

{% endblock %}